extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Aura Soma Boutique redesign
  meta(name="description", content="Building on my previous SEO work, my client re-hired me to perform some optimisation work in order to increase their website’s conversion rate.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Aura Soma Boutique redesign")
  meta(property='og:description', content='Building on my previous SEO work, my client re-hired me to perform some optimisation work in order to increase their website’s conversion rate.')
  meta(property='og:url', content='#{i18n.website}/project/front-end/aura-soma-boutique-redesign.html')
  meta(property='og:image', content='#{i18n.website}/images/aura-soma-boutique-redesign/thumb.png')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Aura Soma Boutique redesign")
  meta(property="og:image:width" content="800")
  meta(property="og:image:height" content="400")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Aura Soma Boutique redesign")
  meta(name="twitter:description" content="Building on my previous SEO work, my client re-hired me to perform some optimisation work in order to increase their website’s conversion rate.")

block project
  .main
    .container
      .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop="item")
                  span(itemprop="name") Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                a(href='#{i18n.website}/category/front-end.html', 
                title='#{i18n.name}, Front-End projects', 
                itemprop="item")
                  span(itemprop='name') Front-End
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="3")
                p(itemprop='name') Aura Soma Boutique Redesign
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/aura-soma-boutique-redesign/aura-soma-product-page.png', 
                  alt='Aura Soma Boutique - new product page', 
                  title='Aura Soma Boutique - new product page')
                  figcaption Fig 1. New product page
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/aura-soma-boutique-redesign/aura-soma-category-list.png', 
                  alt='Aura Soma Boutique - category list', 
                  title='Aura Soma Boutique - category list')
                  figcaption Fig 2. New category list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/aura-soma-boutique-redesign/aura-soma-checkout.png', 
                  alt='Aura Soma Boutique - checkout', 
                  title='Aura Soma Boutique - checkout')
                  figcaption Fig 3. New checkout
        .description.six.columns.animated.fadeIn
          .inner-description
            h1.client(itemprop='name') Aura Soma
            p.date 2014, Feb–
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  Marketing Campaigns, Call-To-Action, Conversion Funnel
            .brief
              p Building on my previous SEO work, my client re-hired me to perform some optimisation work in order to increase their website’s conversion rate. I made ​​a number of visual enhancements both on product pages and on the conversion funnel.
            .conclusion
              p My client noticed a 30% increase in turnover over the first 3 months, compared with the turnover in year Y-1.
