extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Nottingham Uni's marketing society
  meta(name="description", content="As CTO of Nottingham University’s Marketing, Advertising and Design Society, I was in charge of designing and developing the society’s website.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Nottingham Uni's marketing society")
  meta(property='og:description', content='As CTO of Nottingham University’s Marketing, Advertising and Design Society, I was in charge of designing and developing the society’s website.')
  meta(property='og:url', content='#{i18n.website}/project/front-end/marketing-society.html')
  meta(property='og:image', content='#{i18n.website}/images/marketing-society/thumb.png')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Nottingham Uni's marketing society")
  meta(property="og:image:width" content="800")
  meta(property="og:image:height" content="400")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Nottingham Uni's marketing society")
  meta(name="twitter:description" content="As CTO of Nottingham University’s Marketing, Advertising and Design Society, I was in charge of designing and developing the society’s website.")

block project
  .main
    .container
      .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='item')
                  span(itemprop='name') Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                a(href='#{i18n.website}/category/front-end.html', 
                title='#{i18n.name}, Front-End projects', 
                itemprop='item')
                  span(itemprop='name') Front-End
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="3")
                p(itemprop='name') Marketing society
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/marketing-society/society-top-section.png', 
                  alt='Marketing Society top section', 
                  title='Marketing Society top section')
                  figcaption Fig 1. Above the fold
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/marketing-society/society-about.png', 
                  alt='Marketing Society about', 
                  title='Marketing Society about')
                  figcaption Fig 2. About us
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/marketing-society/society-website-contact.png', 
                  alt='Marketing Society website contact', 
                  title='Marketing Society website contact')
                  figcaption Fig 3. Contact us
        .description.six.columns.animated.fadeIn
          .inner-description
            h1.client(itemprop='name') 
              a(href='http://nottingham-marketing-society.co.uk/' target="_blank" title="Nottingham University Marketing Advertising and Design Society" rel="nofollow noopener") Marketing Society
            p.date 2013, Oct–
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  HTML, CSS, JS, PHP, jQuery
            .brief
              p As CTO of Nottingham University’s Marketing, Advertising and Design Society, I was in charge of designing and developing the society’s website. The website’s main purpose was to facilitate communication between us, committee members, and the members of our society. It also explained the nature of our society and displayed our event dates.
            .conclusion
              p The society’s website became our main communication channel along with social media.          
