extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Romy and Ray
  meta(name="description", content="Romy and Ray is a French clothing brand that designs high quality garment. I worked with a graphic designer in order to develop the website.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Romy and Ray")
  meta(property='og:description', content='Romy and Ray is a French clothing brand that designs high quality garment. I worked with a graphic designer in order to develop the website.')
  meta(property='og:url', content='#{i18n.website}/project/front-end/romy-and-ray.html')
  meta(property='og:image', content='#{i18n.website}/images/romy-and-ray/thumb.png')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Romy and Ray")
  meta(property="og:image:width" content="800")
  meta(property="og:image:height" content="400")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Romy and Ray")
  meta(name="twitter:description" content="Romy and Ray is a French clothing brand that designs high quality garment. I worked with a graphic designer in order to develop the website.")

block project
  .main
    .container
      .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='item')
                  span(itemprop='name') Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                a(href='#{i18n.website}/category/front-end.html', 
                title='#{i18n.name}, Front-End projects', 
                itemprop='item')
                  span(itemprop='name') Front-End
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="3")
                p(itemprop='name') Romy and Ray
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/romy-and-ray/romy-and-ray-homepage.png', 
                  alt='Romy and Ray homepage', 
                  title='Romy and Ray homepage')
                  figcaption Fig 1. Above the fold
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/romy-and-ray/romy-and-ray-winter-collection.png', 
                  alt='Romy and Ray winter collection', 
                  title='Romy and Ray winter collection')
                  figcaption Fig 2. Winter collection
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/romy-and-ray/romy-and-ray-contact.png', 
                  alt='Romy and Ray contact', 
                  title='Romy and Ray contact')
                  figcaption Fig 3. Contact us
        .description.six.columns
          .inner-description
            h1.client(itemprop='name') 
              a(href='http://www.romy-and-ray.com/home/' target="_blank" title="Romy and Ray website" rel="nofollow noopener") Romy and Ray
            p.date 2013, Jul–
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  HTML, CSS, JS
            .brief
              p Romy and Ray is a French clothing brand that designs high quality garments. I worked with a graphic designer to develop their website.
            .conclusion
              p The Romy and Ray website features many images and assets. This project allowed me to further my skills in image optimisation, CSS and JS, and taught me how to improve a website’s performance.
