extends ../../layouts/category

block head
  title #{i18n.name}'s Portfolio | Front-End projects
  meta(name="description", content="I have 4 years of experience in front-end development. Proficiency: git, HTML, CSS, JS, continuous integration...")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Front-End projects")
  meta(property='og:description', content="I have 4 years of experience in front-end development. Proficiency: git, HTML, CSS, JS, continuous integration...")
  meta(property='og:url', content='#{i18n.website}/category/front-end.html')
  meta(property='og:image', content='#{i18n.website}/images/thomas-petitjean.png')
  meta(property='og:image:alt', content='#{i18n.name}, Front-End projects')
  meta(property="og:image:width" content="200")
  meta(property="og:image:height" content="200")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Front-End projects")
  meta(name="twitter:description" content="I have 4 years of experience in front-end development. Proficiency: git, HTML, CSS, JS, continuous integration...")

block page-profession
  h2.header-heading #{i18n.name}, Front-End Developer

block category
  .main
    .container
      .sixteen.columns
        .fourteen.columns.offset-by-one
          .category-intro-container
            h1.intro-title Front-End Development
            p.intro-nutshell I have four years of experience in front-end development. I see great value in considering web performance and on-site SEO while developing user interfaces. Have a look at 
              a(href="https://github.com/ThomasPJ/thomaspj.github.io/", 
              target="_blank", 
              title="#{i18n.name}'s portfolio on Github") my website's respository
              | .
    .container
      .fifteen.columns.offset-by-one
        ul.categories
          li.frontend-category.category-page
            ul.category
              li.fourteen.columns.category-item
                a.category-item-anchor(href='#{i18n.website}/project/front-end/aura-soma-boutique-redesign.html', title='Aura Soma Boutique Redesign Project Page')
                  figure.thumbnail
                    img(src='../images/aura-soma-boutique-redesign/thumb.png', 
                    alt='Aura Soma Boutique Redesign', 
                    title='Aura Soma Boutique Redesign')
                  .category-item-content
                    h3.category-item-title Aura Soma Boutique Redesign
                    p.category-item-description Worked on Aura Soma's SEO and performed various optimisations on the website's conversion funnel.
              li.fourteen.columns.category-item
                a.category-item-anchor(href='#{i18n.website}/project/front-end/marketing-society.html', title='Marketing, Advertising and Design Society Project Page')
                  figure.thumbnail
                    img(src='../images/marketing-society/thumb.png', 
                    alt='Marketing, Advertising and Design Society', 
                    title='Marketing, Advertising and Design Society')
                  .category-item-content
                    h3.category-item-title Marketing Society
                    p.category-item-description Designed and developed the society’s website.
              li.fourteen.columns.category-item
                a.category-item-anchor(href='#{i18n.website}/project/front-end/romy-and-ray.html', title='Romy and Ray Project Page')
                  figure.thumbnail
                    img(src='../images/romy-and-ray/thumb.png', 
                    alt='Romy and Ray', 
                    title='Romy and Ray')
                  .category-item-content
                    h3.category-item-title Romy and Ray
                    p.category-item-description I was the main developer for this project.
