extends ../../layouts/category

block head
  title #{i18n.name}'s Portfolio | Project Management projects
  meta(name="description", content="I have been working as a project manager and scrum master for the past 3 years. I work with multidisciplinary teams that include: CRO consultants, UX consultants, designers, developers...")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Project Management projects")
  meta(property='og:description', content="I have been working as a project manager and scrum master for the past 3 years. I work with multidisciplinary teams that include: CRO consultants, UX consultants, designers, developers...")
  meta(property='og:url', content='#{i18n.website}/category/project-management.html')
  meta(property='og:image', content='#{i18n.website}/images/thomas-petitjean.png')
  meta(property='og:image:alt', content='#{i18n.name}, Project Management projects')
  meta(property="og:image:width" content="200")
  meta(property="og:image:height" content="200")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Project Management projects")
  meta(name="twitter:description" content="I have been working as a project manager and scrum master for the past 3 years. I work with multidisciplinary teams that include: CRO consultants, UX consultants, designers, developers...")
  
block page-profession
  h2.header-heading #{i18n.name}, Project Manager

block category
  .main
    .container
      .sixteen.columns
        .fourteen.columns.offset-by-one
          .category-intro-container
            h1.intro-title Project Management
            p.intro-nutshell I started working as a Technical/SEO project manager in 2014 at 
              a(href="http://www.altima-agency.com/en/", 
              target="_blank", 
              title="Altima, digital commerce", 
              rel="nofollow noopener") Altima.
              |  I am now perfecting my scrum mastering skills at the 
              a(href="https://thecdm.ca/", 
              target="_blank", 
              title="The Centre for Digital Media" rel="nofollow noopener") Centre for Digital Media.
    .container
      .content-hp
        .fifteen.columns.offset-by-one
          ul.categories
            li.pm-category.category-page
              ul.category
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='#{i18n.website}/project/project-management/pci-developments.html', title='PCI Developments Project Page')
                    figure.thumbnail
                      img(src='../images/pci-developments/thumb.jpg', 
                      alt='PCI Developments', 
                      title='PCI Developments')
                    .category-item-content
                      h2.category-item-title PCI Developments
                      p.category-item-description I lead a team of 5 in developing a tablet application for PCI as part of my industry project at the Centre for Digital Media. 
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='#{i18n.website}/project/project-management/petit-bateau-christmas-project.html', title='Petit Bateau - Christmas 2014 Project Page')
                    figure.thumbnail
                      img(src='../images/petit-bateau-christmas-project/thumb.png', 
                      alt='Petit Bateau - Christmas 2014', 
                      title='Petit Bateau - Christmas 2014')
                    .category-item-content
                      h2.category-item-title Petit Bateau
                      p.category-item-description I worked alongside a team of 3 front-end developers to identify and fix bugs on a product landing page.
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='#{i18n.website}/project/project-management/club-med.html', title='Club Med Project Page')
                    figure.thumbnail
                      img(src='../images/club-med/thumb.png', 
                      alt='Club Med', 
                      title='Club Med')
                    .category-item-content
                      h2.category-item-title Club Med
                      p.category-item-description I assisted a Senior Project Manager throughout Club Med's website redesign project.
