extends ../../layouts/post

block head
  title #{i18n.name}'s Portfolio | Photos
  meta(name="description", content="A short selection of photos I took with my iPhone in Canada and France since 2015.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Photos")
  meta(property='og:description', content="A short selection of photos I took with my iPhone in Canada and France since 2015.")
  meta(property='og:url', content='#{i18n.website}/photography/index.html')
  meta(property='og:image', content='#{i18n.website}/images/photos/thumb.jpg')
  meta(property='og:image:alt', content="#{i18n.name}'s Photos")
  meta(property="og:image:width" content="830")
  meta(property="og:image:height" content="453")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Photos")
  meta(name="twitter:description" content="A short selection of photos I took with my iPhone in Canada and France since 2015.")

block post
  .main
    .container
      .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='item')
                  span(itemprop='name') Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                p(itemprop='name') Photos
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/false-creek.jpg', 
                  alt='False Creek, Vancouver', 
                  title='False Creek, Vancouver')
                  figcaption False Creek, Vancouver - May 2017
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/tartre-gaudran.jpg', 
                  alt='Tartre Gaudran, France', 
                  title='Tartre Gaudran, France')
                  figcaption Tartre Gaudran, France - April 2017
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/bowen-island.jpg', 
                  alt='Bowen Island, Canada', 
                  title='Bowen Island, Canada')
                  figcaption Bowen Island, Canada - April 2017
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/ubc-campus.jpg', 
                  alt='UBC Campus, Vancouver', 
                  title='UBC Campus, Vancouver')
                  figcaption UBC Campus, Vancouver - August 2015
        .description.six.columns
          .inner-description
            h1.client(itemprop='name') 
              a(href='https://www.instagram.com/thomas_petitjean/' target="_blank" title="Thomas Petitjean / Instagram profile" rel="noopener") My Instagram profile
            p.date 2015 - Present
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  instagram, photos
            .brief
              p.highlight A short selection of pictures I took in 
                em Canada 
                | and 
                em France
                |  since 2015.
