extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Université Laval and Arthritis Research Canada
  meta(name="description", content="Working with Université Laval and ARC on the development of a new website for seniors and caregivers.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Université Laval and Arthritis Research Canada")
  meta(property='og:description', content='Working with Université Laval and ARC on the development of a new website for seniors and caregivers.')
  meta(property='og:url', content='#{i18n.website}/project/multidisciplinary/universite-laval-and-arc.html')
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Université Laval and Arthritis Research Canada")
  meta(name="twitter:description" content="Working with Université Laval and ARC on the development of a new website for seniors and caregivers.")

block page-profession
  h2.header-heading #{i18n.name}, Digital Consultant

block project
  .main(itemscope, itemtype='http://schema.org/CreativeWork')
    .container
      .twelve.columns.full
        a.home-link(href='#{i18n.website}', title='Portfolio Homepage') ← Homepage
        h1.client-full(itemprop='name') Université Laval and Arthritis Research Canada
        p.date-full Aug 2017 - Present
        p.tags-full(itemprop='keywords')
          i.fa.fa-tags
          |  Qualitative interviews, UX design, project management, web development, search engine optimization
        .brief-full
          h3 Context
          p In 2016, Université Laval and Arthritis Research Canada (ARC) developed 
            a(href='http://spinach-project.blogspot.ca', target='_blank', rel='nofollow noopener' title='Spinach Project') Github Pages a website and an interactive video
            |  to provide seniors with information on how to remain independent at home. The first iteration of the website was well received and generated enough user feedback to allow the team to plan a second iteration (ie. this project).
          h3 The project
          p In August 2017, I was given the opportunity to join the team as a project manager / ux designer / front-end developer. The team is composed of researchers from CHU de Québec / Université Laval, a caregiver representative, and two independent researchers.
          p Project phases: 1) focus groups and interviews with seniors and caregivers, 2) data analysis and insights, 3) design sprint (meeting with project stakeholders to determine project focus), 4) implementation, 5) pre-launch tests and evaluation, and 6) launch.
          figure
            img(itemprop='image', 
            src='../../images/universite-laval-and-arc/video-module.png', 
            alt='Video module', 
            title='Video module')
            figcaption Fig 1. Current video module
          h3 User research
          p After two months of interviews and focus groups with caregivers and seniors, I'm getting a sense of the benefits and shortcomings of our current website. Here are the themes that emerged from our study:
          p - 1. The need for a more personalized experience.
            |  Our website only provides information at a provincial level (ie. care homes in Alberta and Quebec) when it should be providing individuals with local resources. Most of the individuals we interviewed were frustrated to see that some of the services listed were not available in their location. Furthermore, the way the information is currently laid out (in the resource section) makes it hard for people to easily find the information that is relevant to them.
          p - 2. Additional resources and content.
            |  Individuals were interested in 1) knowing who to contact in the case of an emergency, 2) reading about different financing options, 3) learning about public services and other organizations, and 4) knowing what resources and services exist for caregivers.
          p - 3. More exhaustive and up-to-date content.
          h3 Technical setup
          p 
            a(href='http://spinach-project.blogspot.ca', target='_blank', rel='nofollow noopener' title='Spinach Project') The current website
            |  was built with Google Blogger, a free blog-publishing service. Although this platform might be great for people with no technical skills who want to publish fast, its features are very limited and would not allow us to effectively address our users' pain points (listed above). I've started narrowing down the number of options for our future platform: 
            a(href='https://pages.github.com', target='_blank', rel='nofollow noopener' title='Github Pages') Github Pages
            |  (using 
            a(href='http://harpjs.com', target='_blank', rel='nofollow noopener' title='HarpJS') HarpJS
            | ), or 
            a(href='https://wordpress.org', target='_blank', rel='nofollow noopener' title='Wordpress') Wordpress
            | . Our Design Sprint will help us determine what the best option is for the project (Proof of Concept or scalable platform).
          h3 Design Sprint / Ideation Workshop
          p Coming soon.
          br
          p I will be updating this page as the project moves forward.
