extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Université Laval and Arthritis Research Canada
  meta(name="description", content="Working with Université Laval and ARC on the development of a new website for seniors and caregivers.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Université Laval and Arthritis Research Canada")
  meta(property='og:description', content='Working with Université Laval and ARC on the development of a new website for seniors and caregivers.')
  meta(property='og:url', content='#{i18n.website}/project/multidisciplinary/universite-laval-and-arc.html')
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Université Laval and Arthritis Research Canada")
  meta(name="twitter:description" content="Working with Université Laval and ARC on the development of a new website for seniors and caregivers.")

block page-profession
  h2.header-heading #{i18n.name}, Digital Consultant

block project
  .main(itemscope, itemtype='http://schema.org/CreativeWork')
    .container
      .ten.columns.full
        a.home-link(href='#{i18n.website}', title='Portfolio Homepage') ← Homepage
        h1.client-full(itemprop='name') Université Laval and Arthritis Research Canada
        p.date-full Aug 2017 - Present
        p.tags-full(itemprop='keywords')
          i.fa.fa-tags
          |  Qualitative interviews, UX design, project management, web development, search engine optimization
        .brief-full
          h3 Context
          p In 2016, Université Laval and Arthritis Research Canada (ARC) developed an interactive module to provide seniors with information on how to remain independent at home. The first iteration of the module was well received and generated enough user feedback to allow the team to plan a second iteration (ie. this project).
          h3 The project
          p In August 2017, I was given the opportunity to join the team as a project manager / ux designer / front-end developer. The team is composed of researchers from CHU de Québec / Université Laval, a caregiver representative, and two independent researchers.
          p Since the beginning of the project, I have been planning focus groups and interviewing seniors and caregivers to gather data for the second iteration. In the coming weeks and months, I will be 1) analysing the data gathered during the interviews, 2) communicating the insights to the project stakeholders and 3) making the desired changes on the module. The final phase of the project will be to evaluate the impact/effectiveness of the changes through a last round of interviews.
          p I see this as a great opportunity for me to improve my UX and management skills while experimenting with new front-end tools (maybe 
            a(href="https://github.com/sintaxi/harp", target="_blank", rel="nofollow noopener", title="Harp / Github repo") HarpJS
            | ).
          figure
            img(itemprop='image', 
            src='../../images/universite-laval-and-arc/video-module.png', 
            alt='Video module', 
            title='Video module')
            figcaption Fig 1. Current video module
          p I will be updating this page as the project moves forward.
