extends ../../../layouts/post-amp

block head
  title About #{i18n.name}
  meta(name="description", content="Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.")
  link(rel="canonical" href="#{i18n.website}/post/about.html")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='blog')
  meta(property='og:title', content="About #{i18n.name}")
  meta(property='og:description', content="Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.")
  meta(property='og:url', content='#{i18n.website}/post/about.html')
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="About #{i18n.name}")
  meta(name="twitter:description" content="Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.")
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "CreativeWork",
      "mainEntityOfPage": "#{i18n.website}/post/about.html",
      "headline": "About #{i18n.name}",
      "description": "Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.",
      "author": {
        "@type": "Person",
        "name": "Thomas Petitjean"
      }
    }
    
block page-profession
  h1.header-amp-heading #{i18n.name}

block amppost
  .post-amp
    .container-amp
      h2.title-amp Hi I'm Thomas
      .content-amp
        p I'm a search engine optimizer and a project manager with over 3 years of experience. I hold a BSc in Management from The University of Nottingham and a Master in Digital Media from the University of British Columbia.
        h2.brief-nutshell 2013
        p I first entered the digital media industry as a front-end developer which allowed me to develop key technical skills in web programming. I've developed web applications using HTML5, CSS3, ReactJS / Redux and jQuery.
        h2.brief-nutshell 2014 - 2016
        p I learned about search engine marketing (SEO & SEA) first as a freelance web consultant and then as an SEO Consultant at altima, a global agency specialised in e-commerce. I had the chance to pitch to a variety of different clients and work with multidisciplinary teams (Front-End/Back-End developers, UX designers, art directors, CROs...).
        p During my time at altima, I had the chance to manage different e-commerce related projects, such as the design and development of in-store mobile applications and e-commerce platforms, for well established brands in the luxury industry and the travel sector.
        h2.brief-nutshell 2016 - 2017
        p The Master of Digital Media program has helped me improve my 
          em collaborative skills
          |  and leadership abilities. I've had the chance to facilitate a number of different workshops both for my teams and for clients and I've worked as a scrum master on a number of different projects. This program has pushed me outside of my comfort zone and has made me think of better ways to work collaboratively.
        p Find me on 
          a(href='#{i18n.twitter}', 
          target='_blank', 
          title='_tpetitjean on Twitter') Twitter
          | , 
          a(href='#{i18n.linkedin}', 
          target='_blank', 
          title='Thomas Petitjean on Linkedin') Linkedin
          |  & 
          a(href='#{i18n.instagram}', 
          target='_blank', 
          title='thomas_petitjean on Instagram') Instagram
          | .
        .img
          amp-img(alt='Science World, Vancouver', 
          src='../../images/photos/science-world-mid.jpg',
          width='900', 
          height='896', 
          layout='responsive')
          span Science World, Vancouver - June 2017
        .img
          amp-img(alt='False Creek, Vancouver', 
          src='../../images/photos/false-creek-mid.jpg',
          width='900', 
          height='675', 
          layout='responsive')
          span False Creek, Vancouver - May 2017
        .img
          amp-img(alt='Tartre Gaudran, France', 
          src='../../images/photos/tartre-gaudran-mid.jpg',
          width='900', 
          height='900', 
          layout='responsive')
          span Tartre Gaudran, France - April 2017
        .img
          amp-img(alt='Bowen Island, Canada', 
          src='../../images/photos/bowen-island-mid.jpg',
          width='900', 
          height='900', 
          layout='responsive')
          span Bowen Island, Canada - April 2017
        .img
          amp-img(alt='UBC Campus, Vancouver', 
          src='../../images/photos/ubc-campus-mid.jpg',
          width='900', 
          height='900', 
          layout='responsive')
          span UBC Campus, Vancouver - August 2015
