extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Club Med Luxe
  meta(name="description", content="This project taught me a lot about new front-end development techniques and SEO best practices on single-page applications.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Club Med Luxe")
  meta(property='og:description', content='This project taught me a lot about new front-end development techniques and SEO best practices on single-page applications.')
  meta(property='og:url', content='#{i18n.website}/project/project-management/club-med-luxe.html')
  meta(property='og:image', content='#{i18n.website}/images/club-med-luxe/thumb.jpg')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Club Med Luxe")
  meta(property="og:image:width" content="800")
  meta(property="og:image:height" content="400")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Club Med Luxe")
  meta(name="twitter:description" content="This project taught me a lot about new front-end development techniques and SEO best practices on single-page applications.")

block page-profession
  h2.header-heading #{i18n.name}, Project Manager

block project
  .main
    .container
      .sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='item')
                  span(itemprop='name') Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                a(href='#{i18n.website}/category/project-management.html', 
                title='#{i18n.name}, Project Management projects', 
                itemprop='item')
                  span(itemprop='name') Project Management
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="3")
                p(itemprop='name') Club Med Luxe
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/club-med-luxe/thumb.jpg', 
                  alt='Club Med Luxe', 
                  title='Club Med Luxe')
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/club-med-luxe/home-screen.png', 
                  alt='Home screen', 
                  title='Home screen')
                  figcaption Fig 1. Home Screen
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/club-med-luxe/loader.gif', 
                  alt='Loader', 
                  title='Loader')
                  figcaption Fig 2. Loader animation
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/club-med-luxe/development-process-1.png', 
                  alt='Development process', 
                  title='Development process')
                  figcaption Fig 3. Development process 1/2
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/club-med-luxe/development-process-2.png', 
                  alt='Development process', 
                  title='Development process')
                  figcaption Fig 4. Development process 2/2
        .description.six.columns.absolute
          .inner-description
            h1.client(itemprop='name') 
              a(href='http://ns.clubmed.com/ipm/clubmed-luxe/en/home.html' target="_blank" title="Club Med Luxe" rel="nofollow noopener") Club Med Luxe
            p.date Jan - Sep 2015
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  technical project management, single-page application, reactjs, search engine optimization
            .brief
              p.highlight This project taught me a lot about new front-end development techniques and SEO best practices on single-page applications.
              h3.brief-nutshell The brief
              p The aim of this project was to craft an immersive experience for Club Med to transport their audience into their world of luxury.
              p We chose to develop a 
                em single-page application
                |  to tell Club Med's story in the most elegant and smooth way possible. Every slide was a chapter of Club Med’s story and guided the audience to the last section: a map showing Club Med’s 5 stars resorts around the world.
              h3.brief-nutshell Development process
              p The team chose the 
                em Continuous Integration
                |  model from the very beginning as we knew it was going to considerably speed up the development process. Bug fixing and improvements could be made in parallel (Fig 3.), developers could work on separate branches without having to worry about conflicts and I was able to show my client our progress on a weekly basis through Github's handy 
                a(href='http://altimaparis.github.io/clubmed-luxe/en/home.html' target="_blank" title="Club Med Luxe" rel="nofollow noopener") gh-pages feature.
              p Every time the team reached a milestone, I was able to push our code directly from my terminal by entering 
                em "git push [remote-name] [branch-name]".
              h3.brief-nutshell SEO concerns
              p Club Med's vision was to use this page as a landing page for people looking for "Club Med Luxe". As most of us know, Single-Page Applications (SPAs) are always a big challenge for SEOs. In order to make our SPA SEO-friendly, I recommended to make the content crawlable and to have a unique URL for each section (thanks react-router). This also made sense from a content/UX perspective and was a way to give our landing more "weight".
            .conclusion
              h3.brief-nutshell Challenges & Takeaways
              p - Club Med uses RequireJS across their entire platform. We often had code conflicts between their scripts and our 
                em Browserify
                | . It also triggered crossorigin problems between our environment and theirs, which slowed down production. Lastly, their RequireJS scripts often triggered 404s, which broke our layout and made testing difficult.
              p - Continuous Integration is definitely a good approach when several developers are working on the same project.
              p - Developing and deploying web applications on an international scale poses great challenges both in terms of management and development.
              p 
                a(href="https://github.com/altimaparis/clubmed-luxe" target="_blank" rel="noopener nofollow") Github repo
