extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | PCI Developments
  meta(name="description", content="The PCI industry project allowed me to develop my scrum mastering skills and understand the concepts of MVP, sprints and retros.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | PCI Developments")
  meta(property='og:description', content='The PCI industry project allowed me to develop my scrum mastering skills and understand the concepts of MVP, sprints and retros.')
  meta(property='og:url', content='#{i18n.website}/project/project-management/pci-developments.html')
  meta(property='og:image', content='#{i18n.website}/images/pci-developments/thumb.jpg')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | PCI Developments")
  meta(property="og:image:width" content="960")
  meta(property="og:image:height" content="559")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | PCI Developments")
  meta(name="twitter:description" content="The PCI industry project allowed me to develop my scrum mastering skills and understand the concepts of MVP, sprints and retros.")

block page-profession
  h2.header-heading #{i18n.name}, Project Manager

block project
  .main(itemscope, itemtype='http://schema.org/CreativeWork')
    .container
      .nine.columns
        .breadcrumbs-top
          ul(itemscope itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              meta(itemprop="position" content="1")
              a(href='#{i18n.website}', 
              title='#{i18n.name}, Portfolio Homepage', 
              itemprop='item')
                span(itemprop='name') Home
              span >
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              meta(itemprop="position" content="2")
              a(href='#{i18n.website}/category/project-management.html', 
              title='#{i18n.name}, Project Management projects', 
              itemprop='item')
                span(itemprop='name') Project Management
              span >
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              meta(itemprop="position" content="3")
              p(itemprop='name') PCI Developments
        .media
          ul.image-list
            li
              .divider
              figure
                img(itemprop='image', 
                src='../../images/pci-developments/thumb.jpg', 
                alt='PCI Developments', 
                title='PCI Developments')
            li
              .divider
              figure
                img(itemprop='image', 
                src='../../images/pci-developments/user-interface.png', 
                alt='PCI Developments / User Interface', 
                title='PCI Developments / User Interface')
                figcaption Fig 1. User Interface of the application
            li
              .divider
              figure
                img(itemprop='image', 
                src='../../images/pci-developments/whiteboard.jpg', 
                alt='PCI Developments / Whiteboard', 
                title='PCI Developments / Whiteboard')
                figcaption Fig 2. Capture of our project timeline (above) and our backlog (on the left)
            li
              .divider
              figure
                img(itemprop='image', 
                src='../../images/pci-developments/zenhub.png', 
                alt='PCI Developments / Zenhub', 
                title='PCI Developments / Zenhub')
                figcaption Fig 3. Capture of our Zenhub board
      .description.seven.columns.absolute
        h1.client(itemprop='name') 
          a(href='https://pci-group.com/' target="_blank" title="PCI Group" rel="nofollow noopener") PCI Developments
        p.date Jan - Apr 2017
        p.tags(itemprop='keywords')
          i.fa.fa-tags
          |  scrum mastering, sprint planning & review, demos, story points
        .brief
          p.highlight My objective for this project was to develop my scrum mastering skills and understand the concepts of MVP, sprints and retros.
          h3.brief-nutshell In a nutshell
          p I lead a team of 5 in developing a tablet application for PCI as part of my industry project at the Centre for Digital Media. Our team was composed of 2 developers, a UX designer and a UI designer. 
          h3.brief-nutshell Mission
          p Our mission was to showcase the vibrancy and dynamism of the 
            a(href="http://www.pci-group.com/PCIprojects/569-great-northern-way/" target="_blank" title="PCI Group - Great Northern Way Project Page" rel="nofollow noopener") future Great Northern Way.
            |  We aimed to provide the public and potential tenants with an interactive experience to help them understand GNW’s potential to truly become a vibrant and thriving creative community.
          h3.brief-nutshell My role
          p I lead our sprint planning, review and retro sessions and I was our client's primary point of contact throughout the whole semester. I managed both the art pipeline and the technical pipeline (milestone definition, issue tracking...) and organised our final demo & delivery.
        .conclusion
          h3.brief-nutshell Takeaways
          p Throughout the project we learned how to strip our design down to the essentials, and designate a clear focus for each iteration in order to prove and validate our concept with our client. This helped us prioritize better and design a stronger MVP that focused on the core idea. We also managed to provide our client with a roadmap for future developments, to allow them to plan future iterations right after delivery. 
          p Read more about my process 
            a(href="#{i18n.website}/post/sprint-and-reflect.html",
            title="Sprint and reflect post") here.
          p 
            a(href="http://blogs.thecdm.ca/arch/" target="_blank" rel="noopener") Team blog
            | , 
            a(href="https://github.com/mdm11/GNW" target="_blank" rel="noopener") Github repo
