extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Petit Bateau Christmas project
  meta(name="description", content="altima° and Petit Bateau have worked together to design and develop a unique landing page for the 2014 festive season.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Petit Bateau Christmas project")
  meta(property='og:description', content='altima° and Petit Bateau have worked together to design and develop a unique landing page for the 2014 festive season.')
  meta(property='og:url', content='#{i18n.website}/project/project-management/petit-bateau-christmas-project.html')
  meta(property='og:image', content='#{i18n.website}/images/petit-bateau-christmas-project/thumb.png')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Petit Bateau Christmas project")
  meta(property="og:image:width" content="800")
  meta(property="og:image:height" content="400")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Petit Bateau Christmas project")
  meta(name="twitter:description" content="altima° and Petit Bateau have worked together to design and develop a unique landing page for the 2014 festive season.")

block project
  .main
    .container
      .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul
              li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='url')
                  span(itemprop='title') Home
                span >
              li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
                a(href='#{i18n.website}/category/project-management.html', 
                title='#{i18n.name}, Project Management projects', 
                itemprop='url')
                  span(itemprop='title') Project Management
                span >
              li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
                p(itemprop='title') Petit Bateau Christmas project
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/petit-bateau-christmas-project/thumb.png', 
                  alt='Petit Bateau', 
                  title='Petit Bateau')
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/petit-bateau-christmas-project/petit-bateau-listing-1.png', 
                  alt='Petit Bateau listing page', 
                  title='Petit Bateau listing page')
                  figcaption Fig 1. Listing page
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/petit-bateau-christmas-project/petit-bateau-listing-2.png', 
                  alt='Petit Bateau listing page', 
                  title='Petit Bateau listing page')
                  figcaption Fig 2. Listing page
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../../images/petit-bateau-christmas-project/petit-bateau-christmas.png', 
                  alt='Petit Bateau christmas promo', 
                  title='Petit Bateau christmas promo')
                  figcaption Fig 3. Promo image
        .description.six.columns.animated.fadeIn.absolute
          .inner-description
            h1.client(itemprop='name') 
              a(href='https://www.petit-bateau.fr/' target="_blank" title="Petit Bateau France" rel="nofollow noopener") Petit Bateau
            p.date 2014, Nov-
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  website specifications, cross-device testing, AJAX, CSS3
            .brief
              h2.brief-nutshell Context
              p altima° and Petit Bateau have worked together to design and develop a unique landing page for the 2014 festive season. The purpose of this page was for the brand to present exclusive deals and unique winter outfits for children. My role was to review the whole project and provide feedback to the development team. 
              h2.brief-nutshell My role
              p I worked closely with the project’s lead front-end developer to enhance the user interface and correct residual bugs. The project specifications had been written prior to my intervention and guided me throughout the whole review process.
            .conclusion
              h2.brief-nutshell Takeaways
              p This project was challenging for several reasons: 1) Christmas is a crucial period for Petit Bateau, as it represents an important part of their annual sales. The stakes were high and our client expected our work to be stellar. We devoted the most part of our attention to ergonomics and UX and made sure that nothing was getting in the way of the user either on desktop, tablet or mobile. That brings me to my second point. 2) Petit Bateau is a responsive website and the ‘Christmas page’ had to conform to this requirement. I only noticed minor bugs on desktop, so I decided to mainly focus on lower breakpoints to ensure an optimal viewing experience on smartphone and tablet. Cross-device testing represented a major part of my mission and pushed me to find solutions with regards to: varying pixel densities and viewport widths. 3) The page featured CSS3 features such as animations and box shadow. Ensuring cross browser compatibility was hence a complex and lengthy process. 4) altima° chose AJAX to dynamically display and render products on the page. Although AJAX allowed us to improve user experience, it also added a layer of complexity to the page, and therefore implied a longer review process. What is more, the use of AJAX had SEO implications and required us to adjust its functioning in order for the content to be crawlable.        
