extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Aura Soma Boutique
  meta(name="description", content="Aura Soma is an e-commerce website that sells essential oils and perfumes. My initial work consisted in re-writing all of the website’s product pages.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Aura Soma Boutique")
  meta(property='og:description', content='Aura Soma is an e-commerce website that sells essential oils and perfumes. My initial work consisted in re-writing all of the website’s product pages.')
  meta(property='og:url', content='#{i18n.website}/project/search-engine-marketing/aura-soma-boutique.html')
  meta(property='og:image', content='#{i18n.website}/images/aura-soma-boutique/thumb.png')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Aura Soma Boutique")
  meta(property="og:image:width" content="400")
  meta(property="og:image:height" content="200")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Aura Soma Boutique")
  meta(name="twitter:description" content="Aura Soma is an e-commerce website that sells essential oils and perfumes. My initial work consisted in re-writing all of the website’s product pages.")

block page-profession
  h2.header-heading #{i18n.name}, SEO

block project
  .main(itemscope, itemtype='http://schema.org/CreativeWork')
    .container
      .nine.columns
        .breadcrumbs-top
          ul(itemscope itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              meta(itemprop="position" content="1")
              a(href='#{i18n.website}', 
              title='#{i18n.name}, Portfolio Homepage', 
              itemprop='item')
                span(itemprop='name') Home
              span >
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              meta(itemprop="position" content="2")
              a(href='#{i18n.website}/category/search-engine-marketing.html', 
              title='#{i18n.name}, Search Engine Marketing projects', 
              itemprop='item')
                span(itemprop='name') Search Engine Marketing
              span >
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
              meta(itemprop="position" content="3")
              p(itemprop='name') Aura Soma Boutique
        .media
          ul.image-list
            li
              .divider
              figure
                img(itemprop='image', 
                src='../../images/aura-soma-boutique/aura-soma-old-homepage.png', 
                alt='Aura Soma Boutique - old homepage', 
                title='Aura Soma Boutique - old homepage')
                figcaption Fig 1. Homepage
            li
              .divider
              figure
                img(itemprop='image', 
                src='../../images/aura-soma-boutique/aura-soma-old-product-page.png', 
                alt='Aura Soma Boutique - old product page', 
                title='Aura Soma Boutique - old product page')
                figcaption Fig 2. Product page
      .description.seven.columns.absolute
        h1.client(itemprop='name') Aura Soma
        p.date 2014 to 2015
        p.tags(itemprop='keywords')
          i.fa.fa-tags
          |  SEO, meta tags, SMO, AdWords, Analytics, Disqus, Google Webmaster Tools
        .brief
          p Aura Soma is an e-commerce website that sells essential oils and perfumes. My initial work consisted in re-writing all of the website’s product pages. Along with this work, I highlighted several improvements to be made on the website, namely : the installation of a customer feedback system, a better use of social media, and a re-design of the homepage.
        .conclusion
          p The customer feedback system has become a popular feature and allows customers to comment on their previous purchases and to recommend their purchased goods to other potential clients. Moreover, this system offers a powerful linking feature that pushes my client’s products on other similar websites. Finally, I have noticed a significantly reduced bounce rate since the re-design of the homepage.              
