extends ../../../layouts/project

block head
  title #{i18n.name}'s Portfolio | Aura Soma Boutique
  meta(name="description", content="Rewrote the category meta tags and implemented Disqus and other social media plugins to increase traffic and engagement.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Aura Soma Boutique")
  meta(property='og:description', content='Rewrote the category meta tags and implemented Disqus and other social media plugins to increase traffic and engagement.')
  meta(property='og:url', content='#{i18n.website}/project/search-engine-marketing/aura-soma-boutique.html')
  meta(property='og:image', content='#{i18n.website}/images/aura-soma-boutique/thumb.png')
  meta(property='og:image:alt', content="#{i18n.name}'s Portfolio | Aura Soma Boutique")
  meta(property="og:image:width" content="400")
  meta(property="og:image:height" content="200")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "CreativeWork",
      "url": "#{i18n.website}/project/search-engine-marketing/aura-soma-boutique.html",
      "name": "Aura Soma Boutique",
      "description": "Rewrote the category meta tags and implemented Disqus and other social media plugins to increase traffic and engagement.",
      "keywords": "SEO, meta tags, SMO, AdWords, Analytics, Disqus, Search Console",
      "image": {
        "@type": "ImageObject",
        "url": "#{i18n.website}/images/aura-soma-boutique/thumb.png",
        "height": 400,
        "width": 200
      },
      "author": {
        "@type": "Person",
        "name": "Thomas Petitjean"
      }
    }

block page-profession
  h2.header-heading #{i18n.name}, SEO

block project
  .main
    .container
      .nine.columns
        .breadcrumbs-top
          ul
            li
              a(href='#{i18n.website}', 
              title='#{i18n.name}, Portfolio Homepage')
                span Home
              span >
            li
              a(href='#{i18n.website}/category/search-engine-marketing.html', 
              title='#{i18n.name}, Search Engine Marketing projects')
                span Search Engine Marketing
              span >
            li
              p Aura Soma Boutique
        .media
          ul.image-list
            li
              .divider
              figure
                img(src='../../images/aura-soma-boutique/aura-soma-old-homepage.png', 
                alt='Aura Soma Boutique - old homepage', 
                title='Aura Soma Boutique - old homepage')
                figcaption Fig 1. Homepage
            li
              .divider
              figure
                img(src='../../images/aura-soma-boutique/aura-soma-old-product-page.png', 
                alt='Aura Soma Boutique - old product page', 
                title='Aura Soma Boutique - old product page')
                figcaption Fig 2. Product page
            li
              .divider
              figure
                img(src='../../images/aura-soma-boutique/aura-soma-pomanders.jpg', 
                alt='Aura Soma Boutique - pomanders', 
                title='Aura Soma Boutique - pomanders')
                figcaption Fig 3. Pomanders
      .description.seven.columns.absolute
        h1.client Aura Soma
        p.date 2014 to 2015
        p.tags
          i.fa.fa-tags
          |  SEO, meta tags, SMO, AdWords, Analytics, Disqus, Search Console
        .brief
          p Aura Soma is a brand that focuses on Chromotherapy and well-being. I worked for one of Aura Soma's main resellers in Europe. This project allowed me to get a deep understanding of the main SEO challenges in online retail. The website was developed using Prestashop by another developer, my client hired me to work on inbound marketing and improve the website's conversion rate.
          p My client had always had a very loyal customer base but she was competing with a number of other Aura Soma resellers. Her main challenge/goal was to attract new customers and stay in the Top 2 resellers in Europe.
          p When auditing the website, I noticed a number of redirect errors, missing meta tags or even missing product descriptions. I started by working on the foundations of the website (404/301/302 redirects, sitemaps...), and then focused on the content by re-writing all of the website’s product pages (metas + descriptions). 
          p I monitored my changes and then attempted to improve conversion and engagement by visual enhancements to the website. Some examples of those enhancements would be: the installation of a customer feedback system, a redesigned homepage, and design tweaks on the product page template.
        .conclusion
          p The front-end enhancements I made on the websites lead to a reduced bounce rate and the technical and content related optimizations have pushed certain category pages way up in the SERP. The customer feedback system is also a popular feature and allows customers to comment on their previous purchases and to recommend their purchased goods to other potential clients.
