extends ../layouts/homepage

block head
  title #{i18n.name}, #{i18n.profession} | Portfolio
  meta(name="description", content="Product Manager, UBC grad, ex PM and SEO at altima, ex front-end dev at adveris. Specialized in e-commerce, web performance and search engine optimization.")
  meta(property='og:title', content="#{i18n.name}'s Portfolio")
  meta(property='og:description', content='Product Manager, UBC grad, ex PM and SEO at altima, ex front-end dev at adveris. Specialized in e-commerce, web performance and search engine optimization.')
  meta(property='og:type', content='portfolio')
  meta(property='og:image', content='images/thomas-petitjean.png')
  meta(property='og:url', content='#{i18n.website}')
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")

block all-projects
  .main.container
    .content-hp.sixteen.columns.offset-by-one
      ul.categories
        li
          h2.cat-title
            strong Project Management
          ul.category
            li.seven.columns
              a(href='./project-management/petit-bateau-christmas-project.html', title='Petit Bateau - Christmas 2014 Project Page')
                .thumbnail
                  img(src='images/petit-bateau-christmas/thumb.png', alt='Petit Bateau - Christmas 2014', title='Petit Bateau - Christmas 2014')
                .text
                  h3 Petit Bateau - Christmas 2014
                  p.project-date
                    em 2014, Nov-
            li.seven.columns
              a(href='./project-management/petit-bateau-second-batch.html', title='Petit Bateau - Responsive (2nd Batch) Project Page')
                .thumbnail
                  img(src='images/petit-bateau-second-batch/thumb.png', alt='Petit Bateau - Responsive (2nd Batch)', title='Petit Bateau - Responsive (2nd Batch)')
                .text
                  h3 Petit Bateau - Responsive (2nd Batch)
                  p.project-date
                    em 2014, Oct-
            li.seven.columns
              a(href='./project-management/club-med.html', title='Club Med Project Page')
                .thumbnail
                  img(src='images/club-med/thumb.png', alt='Club Med', title='Club Med')
                .text
                  h3 Club Med
                  p.project-date
                    em 2014, Jul-
        li
          h2.cat-title
            strong Front-End
          ul.category
            li.seven.columns
              a(href='./front-end/aura-soma-boutique-redesign.html', title='Aura Soma Boutique Redesign Project Page')
                .thumbnail
                  img(src='images/aura-soma-boutique-redesign/thumb.png', alt='Aura Soma Boutique Redesign', title='Aura Soma Boutique Redesign')
                .text
                  h3 Aura Soma Boutique Redesign
                  p.project-date
                    em 2014, Feb–
            li.seven.columns
              a(href='./front-end/marketing-society.html', title='Marketing, Advertising and Design Society Project Page')
                .thumbnail
                  img(src='images/marketing-society/thumb.png', alt='Marketing, Advertising and Design Society', title='Marketing, Advertising and Design Society')
                .text
                  h3 Marketing, Advertising and Design Society
                  p.project-date
                    em 2013, Oct–
            li.seven.columns
              a(href='./front-end/romy-and-ray.html', title='Romy and Ray Project Page')
                .thumbnail
                  img(src='images/romy-and-ray/thumb.png', alt='Romy and Ray', title='Romy and Ray')
                .text
                  h3 Romy and Ray
                  p.project-date
                    em 2013, Jul–
        li
          h2.cat-title
            strong Search Engine Marketing
          ul.category
            li.seven.columns
              a(href='./sem/ing-direct.html', title='ING Direct Project Page')
                .thumbnail
                  img(src='images/ing-direct/thumb.png', title='ING Direct')
                .text
                  h3 ING Direct
                  p.project-date
                    em 2014, July-
            li.seven.columns
              a(href='./sem/aura-soma-boutique.html', title='Aura Soma Boutique Project Page')
                .thumbnail
                  img(src='images/aura-soma-boutique/thumb.png', alt='Aura Soma Boutique', title='Aura Soma Boutique')
                .text
                  h3 Aura Soma Boutique
                  p.project-date
                    em 2014 to 2015
