extends ../layouts/homepage

block head
  title #{i18n.name}, #{i18n.profession} | Portfolio
  meta(name="description", content="Project Manager, UBC grad, ex PM and SEO at altima, ex front-end dev at adveris. Specialized in e-commerce, web performance and search engine optimization.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='website')
  meta(property='og:title', content="#{i18n.name}, #{i18n.profession} | Portfolio")
  meta(property='og:description', content='Project Manager, UBC grad, ex PM and SEO at altima, ex front-end dev at adveris. Specialized in e-commerce, web performance and search engine optimization.')
  meta(property='og:url', content='#{i18n.website}')
  meta(property='og:image:url', content='#{i18n.website}/images/thomas-petitjean.png')
  meta(property='og:image:alt', content="#{i18n.name}, #{i18n.profession} | Portfolio")
  meta(property="og:image:width" content="200")
  meta(property="og:image:height" content="200")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}, #{i18n.profession} | Portfolio")
  meta(name="twitter:description" content="Project Manager, UBC grad, ex PM and SEO at altima, ex front-end dev at adveris. Specialized in e-commerce, web performance and search engine optimization.")

block all-projects
  .main
    .container
      .content-hp
        .fifteen.columns.offset-by-one
          .highlights
            h2.highlight-title
              strong Posts
            .highlight-entry.highlight-entry--bottom.six.columns
              a(href='./post/side-projects.html', 
                title='Side projects')
                h3 Side projects
                p.highlight-entry-tag
                  i.fa.fa-tags
                  em  devops, front-end, seo
            .highlight-entry.highlight-entry--bottom.six.columns
              a(href='./post/understanding-the-problem-space.html', 
                title='Understanding the problem space')
                h3 Understanding the problem space
                p.highlight-entry-tag
                  i.fa.fa-tags
                  em  agile, facilitation, ux
            .highlight-entry.six.columns
              a(href='./post/sprint-and-reflect.html', 
                title='Sprint and reflect')
                h3 Sprint and reflect
                p.highlight-entry-tag
                  i.fa.fa-tags
                  em  scrum mastering, agile, management
        .fifteen.columns.offset-by-one
          ul.categories
            li.pm-category
              h2.cat-title
                strong Project Management
              ul.category.list-hp
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='./project/project-management/pci-developments.html', title='PCI Developments Project Page')
                    figure.thumbnail
                      img(src='./images/pci-developments/thumb.jpg', 
                      alt='PCI Developments', 
                      title='PCI Developments')
                    .category-item-content
                      h3.homepage-project-title PCI Developments
                      p.homepage-project-description I lead a team of 5 in developing a tablet application for PCI as part of my industry project at the Centre for Digital Media. 
                li.seven.columns.category-item
                  a.category-item-anchor(href='./project/project-management/petit-bateau-christmas-project.html', title='Petit Bateau - Christmas 2014 Project Page')
                    figure.thumbnail
                      img(src='./images/petit-bateau-christmas-project/thumb.png', 
                      alt='Petit Bateau - Christmas 2014', 
                      title='Petit Bateau - Christmas 2014')
                    .category-item-content
                      h3.homepage-project-title Petit Bateau
                      p.homepage-project-description I worked alongside a team of 3 front-end developers to identify and fix bugs on a product landing page.
                li.seven.columns.category-item
                  a.category-item-anchor(href='./project/project-management/club-med.html', title='Club Med Project Page')
                    figure.thumbnail
                      img(src='./images/club-med/thumb.png', 
                      alt='Club Med', 
                      title='Club Med')
                    .category-item-content
                      h3.homepage-project-title Club Med
                      p.homepage-project-description I assisted a Senior Project Manager throughout Club Med's website redesign project.
            li.frontend-category
              h2.cat-title
                strong Front-End
              ul.category.list-hp
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='./project/front-end/aura-soma-boutique-redesign.html', title='Aura Soma Boutique Redesign Project Page')
                    figure.thumbnail
                      img(src='./images/aura-soma-boutique-redesign/thumb.png', 
                      alt='Aura Soma Boutique Redesign', 
                      title='Aura Soma Boutique Redesign')
                    .category-item-content
                      h3.homepage-project-title Aura Soma Boutique Redesign
                      p.homepage-project-description I worked on Aura Soma's SEO and performed various optimisations on the website's conversion funnel.
                li.seven.columns.category-item
                  a.category-item-anchor(href='./project/front-end/marketing-society.html', 
                    title='Marketing, Advertising and Design Society Project Page')
                    figure.thumbnail
                      img(src='./images/marketing-society/thumb.png', 
                      alt='Marketing, Advertising and Design Society', 
                      title='Marketing, Advertising and Design Society')
                    .category-item-content
                      h3.homepage-project-title Marketing Society
                      p.homepage-project-description I designed and developed the society’s website.
                li.seven.columns.category-item
                  a.category-item-anchor(href='./project/front-end/romy-and-ray.html', 
                    title='Romy and Ray Project Page')
                    figure.thumbnail
                      img(src='./images/romy-and-ray/thumb.png', 
                      alt='Romy and Ray', 
                      title='Romy and Ray')
                    .category-item-content
                      h3.homepage-project-title Romy and Ray
                      p.homepage-project-description I was the main developer for this project.
            li.sem-category
              h2.cat-title
                strong Search Engine Marketing
              ul.category.list-hp
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='./project/search-engine-marketing/petit-bateau-second-batch.html', title='Petit Bateau - Responsive (2nd Batch) Project Page')
                    figure.thumbnail
                      img(src='./images/petit-bateau-second-batch/thumb.png', 
                      alt='Petit Bateau - Responsive (2nd Batch)', 
                      title='Petit Bateau - Responsive (2nd Batch)')
                    .category-item-content
                      h3.homepage-project-title Petit Bateau - Responsive (2nd Batch)
                      p.homepage-project-description I worked as an SEO consultant for Petit Bateau. I focused on PageSpeed, 404 errors, sitemaps and structured data.
                li.seven.columns.category-item
                  a.category-item-anchor(href='./project/search-engine-marketing/ing-direct.html', 
                    title='ING Direct Project Page')
                    figure.thumbnail
                      img(src='./images/ing-direct/thumb.png', 
                      alt="ING Direct", 
                      title='ING Direct')
                    .category-item-content
                      h3.homepage-project-title ING Direct
                      p.homepage-project-description My colleague and I implemented a "news sitemap" and solved critical errors to improve the site's indexing.
                li.seven.columns.category-item
                  a.category-item-anchor(href='./project/search-engine-marketing/aura-soma-boutique.html', title='Aura Soma Boutique Project Page')
                    figure.thumbnail
                      img(src='./images/aura-soma-boutique/thumb.png', 
                      alt='Aura Soma Boutique', 
                      title='Aura Soma Boutique')
                    .category-item-content
                      h3.homepage-project-title Aura Soma Boutique
                      p.homepage-project-description I rewrote the category meta tags implemented Disqus and social media plugins to increase traffic and engagement.
            li.photography-category
              h2.cat-title
                strong Photography
              ul.category.list-hp
                li.fourteen.columns.category-item
                  a.category-item-anchor(href='./photography/index.html', title='Photos Page')
                    figure.thumbnail
                      img(src='./images/photos/thumb.jpg', 
                      alt='Thomas Petitjean photos', 
                      title='Thomas Petitjean photos')
                    .category-item-content
                      h3.homepage-project-title Photos
                      p.homepage-project-description A short selection of photos I took in Canada and France since 2015.
