extends ../../layouts/post

block head
  title About #{i18n.name}
  meta(name="description", content="Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.")
  link(rel="canonical" href="#{i18n.website}/post/about.html")
  link(rel="amphtml" href="#{i18n.website}/amp/post/about.html")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='blog')
  meta(property='og:title', content="About #{i18n.name}")
  meta(property='og:description', content="Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.")
  meta(property='og:url', content='#{i18n.website}/post/about.html')
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="About #{i18n.name}")
  meta(name="twitter:description" content="Thomas Petitjean is a search engine optimizer, front-end developer and digital project manager. He holds a Master in Digital Media from UBC.")

block page-profession
  h1.header-heading #{i18n.name}

block post
  .main
    .about-container
      .container
        .seven.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='item')
                  span(itemprop='name') Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                p(itemprop='name') About me
          .about-photos
            ul.about-photo-list
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/science-world.jpg', 
                  alt='Science World, Vancouver', 
                  title='Science World, Vancouver')
                  figcaption Science World, Vancouver - June 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/false-creek.jpg', 
                  alt='False Creek, Vancouver', 
                  title='False Creek, Vancouver')
                  figcaption False Creek, Vancouver - May 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/tartre-gaudran.jpg', 
                  alt='Tartre Gaudran, France', 
                  title='Tartre Gaudran, France')
                  figcaption Tartre Gaudran, France - April 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/bowen-island.jpg', 
                  alt='Bowen Island, Canada', 
                  title='Bowen Island, Canada')
                  figcaption Bowen Island, Canada - April 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/ubc-campus.jpg', 
                  alt='UBC Campus, Vancouver', 
                  title='UBC Campus, Vancouver')
                  figcaption UBC Campus, Vancouver - August 2015
        .nine.columns
          .about-content
            h2.about-title Hi, I'm Thomas
            p I'm a search engine optimizer and a project manager with over 3 years of experience. I hold a BSc in Management from The University of Nottingham and a Master in Digital Media from the University of British Columbia.
            h3.about-nutshell 2013
            p I first entered the digital media industry as a front-end developer which allowed me to develop key technical skills in web programming. I've developed web applications using HTML5, CSS3, ReactJS / Redux and jQuery.
            h3.about-nutshell 2014 - 2016
            p I learned about search engine marketing (SEO & SEA) first as a freelance web consultant and then as an SEO Consultant at altima, a global agency specialised in e-commerce. I had the chance to pitch to a variety of different clients and work with multidisciplinary teams (Front-End/Back-End developers, UX designers, art directors, CROs...).
            p During my time at altima, I had the chance to manage different e-commerce projects, such as the design and development of in-store mobile applications and e-commerce platforms, for well established brands in the luxury industry and the travel sector.
            h3.about-nutshell 2016 - 2017
            p The Master of Digital Media program has helped me improve my collaborative skills and leadership abilities. I've had the chance to facilitate a number of different workshops both for my teams and for clients and I've worked as a scrum master on a number of different projects. This program has pushed me outside of my comfort zone and has made me think of better ways to work collaboratively.
            h3.about-nutshell 2017 - Future
            p Today, eager to develop my technical skills and learn from industry experts, I am seeking to join a dynamic and forward-looking digital agency as a 
              em Search Engine Optimizer
              | .
            p.about-links Find me on 
              a(href='#{i18n.twitter}', 
              target='_blank', 
              title='_tpetitjean on Twitter') Twitter
              | , 
              a(href='#{i18n.linkedin}', 
              target='_blank', 
              title='Thomas Petitjean on Linkedin') Linkedin
              |  & 
              a(href='#{i18n.instagram}', 
              target='_blank', 
              title='thomas_petitjean on Instagram') Instagram
              | .
