extends ../../layouts/post

block head
  title About #{i18n.name}
  meta(name="description", content="Thomas Petitjean is a search engine optimizer and digital project manager. He's currently studying at the Centre for Digital Media.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='blog')
  meta(property='og:title', content="About #{i18n.name}")
  meta(property='og:description', content="Thomas Petitjean is a search engine optimizer and digital project manager. He's currently studying at the Centre for Digital Media.")
  meta(property='og:url', content='#{i18n.website}/post/about.html')
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="About #{i18n.name}")
  meta(name="twitter:description" content="Thomas Petitjean is a search engine optimizer and digital project manager. He's currently studying at the Centre for Digital Media.")

block post
  .main
    .about-container
      .container
        .seven.columns
          .breadcrumbs-top
            ul(itemscope itemtype="http://schema.org/BreadcrumbList")
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="1")
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage', 
                itemprop='item')
                  span(itemprop='name') Home
                span >
              li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                meta(itemprop="position" content="2")
                p(itemprop='name') About me
          .about-photos
            ul.about-photo-list
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/false-creek.jpg', 
                  alt='False Creek, Vancouver', 
                  title='False Creek, Vancouver')
                  figcaption False Creek, Vancouver - May 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/tartre-gaudran.jpg', 
                  alt='Tartre Gaudran, France', 
                  title='Tartre Gaudran, France')
                  figcaption Tartre Gaudran, France - April 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/bowen-island.jpg', 
                  alt='Bowen Island, Canada', 
                  title='Bowen Island, Canada')
                  figcaption Bowen Island, Canada - April 2017
              li.about-photo-item
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/photos/ubc-campus.jpg', 
                  alt='UBC Campus, Vancouver', 
                  title='UBC Campus, Vancouver')
                  figcaption UBC Campus, Vancouver - August 2015
        .nine.columns
          .about-content
            h1.about-title Hi, I'm Thomas
            p I'm a search engine optimizer and a project manager with over 3 years of experience. I graduated from The University of Nottingham in 2014 with a BSc in Management. I am currently a graduate student at the Centre for Digital Media in Vancouver, BC.
            p I first entered the digital media industry as a front-end developer which allowed me to develop key technical skills in web programming. I have developed web applications using HTML5, CSS3, ReactJS / Redux and jQuery.
            p I learned about search marketing (SEO & SEA) as a freelance web consultant. Working as an independent consultant was certainly one of my most enriching and challenging experiences. I had the chance to pitch to a variety of different clients and work with multidisciplinary teams (Front-End/Back-End developers, UX designers, art directors, CROs...). 
            p My latest experience was working as a project manager for altima, a global digital agency based in Paris. During that time, I managed different e-commerce related projects, such as the design and development of in-store mobile applications and e-commerce platforms, for well established brands in the luxury industry and the travel sector.
            p Through my master, I am looking to improve my collaborative skills and leadership abilities. I've had the chance to facilitate a number of different workshops both for my teams and for clients. I've also worked as a scrum master on two different industry projects. This pushed me outside my comfort zone and made me think of better ways to work collaboratively.
            p Find me on 
              a(href='https://twitter.com/_tpetitjean', 
              target='_blank', 
              title='_tpetitjean on Twitter') Twitter
              | , 
              a(href='https://www.linkedin.com/in/petitjeanthomas/en', 
              target='_blank', 
              title='Thomas Petitjean on Linkedin') Linkedin
              |  & 
              a(href='https://www.instagram.com/thomas_petitjean/', 
              target='_blank', 
              title='thomas_petitjean on Instagram') Instagram
            p 
              a(href='mailto:petitjean.thomas2@gmail.com') Email me
