extends ../../layouts/post

block head
  title #{i18n.name}'s Portfolio | My technical setup
  meta(name="description", content="My goal for this website was to develop a simple and scalable serverless static site.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='blog')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | My technical setup")
  meta(property='og:description', content="My goal for this website was to develop a simple and scalable serverless static site.")
  meta(property='og:url', content='#{i18n.website}/post/my-technical-setup.html')
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | My technical setup")
  meta(name="twitter:description" content="My goal for this website was to develop a simple and scalable serverless static site.")

block page-profession
  h2.header-heading #{i18n.name}, Front-End Developer

block post
  .main
    .container
      .twelve.columns.full
        a.home-link(href='#{i18n.website}', title='Portfolio Homepage') ← Homepage
        h1.client-full(itemprop='name') My technical setup
        p.date-full Present
        p.tags-full(itemprop='keywords')
          i.fa.fa-tags
          |  GulpJS, Github Pages, Continuous Integration, jade, templating engine
        .brief-full
          p My goal for this website was to develop a simple and scalable serverless static site. Here are the tools I used to make it possible.
          h3 GulpJS
          p 
            a(href="https://gulpjs.com", 
            target="_blank",
            rel="nofollow noopener",
            title="GulpJS") GulpJS
            |  is a task runnner that lets you automate repetitive and time-consuming tasks during development. 
            a(href="https://github.com/ThomasPJ/thomaspj.github.io/blob/dev/Gulpfile.js", 
            target="_blank",
            title="#{i18n.name}'s Gulp file on Github") I currently use this tool to develop and deploy my builds on Github pages
            | .
          figure
            img(itemprop='image', 
            src='../images/my-technical-setup/gulp-file.png', 
            alt='Gulp file', 
            title='Gulp file')
            figcaption Fig 1. Gulp file
          h3 Github Pages
          p Github has a very handy feature called 
            a(href="https://pages.github.com", 
            target="_blank",
            rel="nofollow noopener",
            title="Github Pages") Github pages
            |  which allows users to deploy and host their website from their github repository. I push my development files on the dev branch and I use Gulp to push my build to the master branch (the master branch acts as my server). This solution is free, secure, and highly optimised as it uses Github's CDN.
          h3 Jade templating engine
          p 
            a(href="http://jade-lang.com", 
            target="_blank",
            rel="nofollow noopener",
            title="Jade Language") Jade
            |  is a neat templating engine that lets you write markup fast. I'm currently using its most basic features but I'm planning on implementing mixins and other JavaScript features in the near future.
