extends ../../layouts/post

block head
  title #{i18n.name}'s Portfolio | Sprint and reflect
  meta(name="description", content="A short post on my process as a scrum master.")
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")
  meta(property='og:type', content='blog')
  meta(property='og:title', content="#{i18n.name}'s Portfolio | Sprint and reflect")
  meta(property='og:description', content='A short post on my process as a scrum master.')
  meta(property='og:url', content='#{i18n.website}/post/sprint-and-reflect.html')
  meta(property='og:image:url', content='#{i18n.website}/images/sprint-and-reflect/thumb.jpg')
  meta(property='og:image:alt', content='#{i18n.name}, Sprint and reflect')
  meta(property="og:image:width" content="4032")
  meta(property="og:image:height" content="3024")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="@_tpetitjean")
  meta(name="twitter:creator" content="@_tpetitjean")
  meta(name="twitter:title" content="#{i18n.name}'s Portfolio | Sprint and reflect")
  meta(name="twitter:description" content="A short post on my process as a scrum master.")

block project
  .main
    .container
      .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
        .nine.columns
          .breadcrumbs-top
            ul
              li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
                a(href='#{i18n.website}', title='#{i18n.name}, Portfolio Homepage', itemprop='url')
                  span(itemprop='title') Home
                span >
              li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
                p(itemprop='title') Sprint and reflect
          .media
            ul.image-list
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/sprint-and-reflect/sprint-board.jpg', 
                  alt='Sprint board', 
                  title='Sprint board')
                  figcaption Fig 1. Sprint board
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/sprint-and-reflect/weekly-demo.jpg', 
                  alt='Weekly demo', 
                  title='Weekly demo')
                figcaption Fig 2. Weekly demo
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/sprint-and-reflect/project-retro.jpg', 
                  alt='Project retrospective: plus and deltas', 
                  title='Project retrospective: plus and deltas')
                figcaption Fig 3. Project retrospective
              li
                .divider
                figure
                  img(itemprop='image', 
                  src='../images/sprint-and-reflect/process-retro.jpg', 
                  alt='Process retrospective: plus and deltas', 
                  title='Process retrospective: plus and deltas')
                  figcaption Fig 4. Process retrospective
        .description.six.columns.animated.fadeIn.absolute
          .inner-description
            h1.client(itemprop='name') Sprint and reflect
            p.date May 2017
            p.tags(itemprop='keywords')
              i.fa.fa-tags
              |  sprint planning, review, demo, retrospective, scrum mastering, facilitation
            .brief
              p.highlight This is an attempt to describe my process as a scrum master. I try to improve it every week based on the feedback I get from my team and 
                a(href="http://www.alsinoy.com/", 
                target="_blank", 
                title="Al Sinoy personal website", 
                rel="nofollow noopener") Al Sinoy
                | , an agile coach working at the Centre for Digital Media.
              p 
                em 1. Sprint planning:
                |  the team starts by writing down a list of objectives for the coming sprint. The Product Owner and Scrum Master then 'translate' these objectives into user stories and hand them over to the dev team. The dev team breaks down the user stories into tasks and put them in 'To Do'. Figure 1 shows a series of user stories in the backlog and their respective tasks on post-its.
              p Takeaways: 1) the whole team feels ownership over the product as everyone helps defining the sprint objectives, 2) everyone thinks about the sprint goals first, 3) the dev team has total control over production. 
              p 
                em 2. Daily stand-up / Scrum:
                |  the team meets every day at the same time and each team member answers the following questions: 1) What did I do yesterday? 2) What am I doing today? 3) What do I need help with?
              p Takeaways: the whole team gains clarity on dependencies and priorities. The managers have more visibility on "To do" and "In progress" items.
              p 
                em 3. Demos
              p 
                span(style="text-decoration:underline") Daily:
                |  the purpose of daily demos is to inform the team of outstanding dependencies and increase everyone's sense of ownership over the product.
              p 
                span(style="text-decoration:underline") Weekly:
                |  once a week the team shows the latest prototype(s) to the project stakeholders (Fig 2.) and shares insights of the week's user tests. Client feedback is gathered and organised and provides the team with ideas on how to improve and what to prioritize for the next sprint.
              p 
                em 4. Sprint review:
                |  Did the team deliver? What is left in progress? Do the user stories and goals still make sense for next sprint? Those are questions that I usually ask the dev team to close the sprint and prepare for the new one.
              p 
                em 5. Sprint retrospective:
                |  After the review, the team reflects on the project by writing a series of "plus" and "deltas" (Fig 3.) during 2 min. Following the project retro, the team reflects on the process and writes a series of "plus" and "deltas" (Fig 4.) during 2 min. The process retro is always very helpful and helps the team identify problems with regards to the working environment: process, team members... The Scrum master then asks the dev team and the PO how the post-its should be regrouped and if any clusters can be made. The team then agrees on the topics that should be addressed in order to improve the process and begin the 
                a(href="http://agilecoffee.com/leancoffee/", 
                target="_blank", 
                title="Agile Coffee website", 
                rel="nofollow noopener") lean Coffee.
                |  The objectives should be Specific, Measurable, Attainable, Relevant and Time-specific (SMART).
            .conclusion
              p My takeaways: 1) a process should be 
                em adjusted and refined every week, 
                | 2) sprints should be 
                em planned and reviewed differently 
                | in discovery and production, 3) the scrum master doesn't have all the answers, the dev team does.
              p
                | Here's another post you might find interesting: 
                a(href="#{i18n.website}/post/understanding-the-problem-space.html", 
                title="Understanding the problem space") "Understanding the problem space"
                |  (workshop facilitation)
