extends ../../layouts/project

block head
  title #{i18n.name}'s Portfolio | ING Direct
  meta(name="description", content="ING Direct is the No.1 online bank in France. I provided their webmasters a series of steps in order to resolve crawling and performance related errors.")
  meta(property='og:title', content="#{i18n.name}'s Portfolio - ING Direct")
  meta(property='og:description', content='ING Direct is the No.1 online bank in France. I provided their webmasters a series of steps in order to resolve crawling and performance related errors.')
  meta(property='og:type', content='portfolio')
  meta(property='og:image', content='#{i18n.website}/images/ing-direct/thumb.png')
  meta(property='og:url', content='#{i18n.website}/ing-direct.html')
  meta(property='og:site_name', content="#{i18n.name}'s Portfolio")

block project
  .main.container
    .content-project.sixteen.columns(itemscope, itemtype='http://schema.org/CreativeWork')
      .nine.columns
        .breadcrumbs-top
          ul
            li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
              a(href='../', title='#{i18n.name}, Portfolio Homepage', itemprop='url')
                span(itemprop='title') Home
              span >
            li(itemscope, itemtype='http://data-vocabulary.org/Breadcrumb')
              p(itemprop='title') ING Direct   
        .media
          ul.image-list
            li
              .divider
              img(itemprop='image', 
              src='../images/ing-direct/ing-homepage.png', 
              alt='ING Direct homepage', 
              title='ING Direct homepage')
            li
              .divider
              img(itemprop='image', 
              src='../images/ing-direct/ing-product-page.png', 
              alt='ING Direct product page', 
              title='ING Direct product page')
      .description.six.columns.animated.fadeIn.absolute
        .inner-description
          h1.client(itemprop='name') 
            a(href='https://www.ingdirect.fr/' target="_blank") ING Direct
          p.date 2014, July-
          p.tags(itemprop='keywords')
            i.fa.fa-tags
            |  meta tags, front-end optimisation, keyword analysis, content optimisation, news sitemap
          .brief
            p ING Direct is the No.1 online bank in France. The ING website comprises 1) a series of product pages outlining a range of banking products, 2) landing pages specifically designed for SEO, 3) an FAQ section and 4) a blog. The French online banking sector is highly competitive and remaining amongst the Top 5 in Google’s ranking is very challenging. Our strategy consisted in making the content as qualitative and as up to date as possible. We achieved this by carrying out recurrent content updates, both on meta tags and visible content and by keeping an up to date site tree. In addition to making the content as qualitative as possible, we recommended our client to put in place a “news sitemap” to facilitate the crawler’s crawling process and ultimately to speed up indexation.
          .conclusion
            p I conducted a thorough analysis of various technical issues, both on the blog and ING’s main website, and I submitted a series of recommendations based on the conclusions that I made. I identified many crawl errors and I provided the client a series of steps in order to resolve those errors. This has led to a better site indexing and overall better performance.            
