block exports
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PZ4DZT5');
    // End Google Tag Manager
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel="stylesheet", href="../styles/index.css")
    link(href='https://fonts.googleapis.com/css?family=Signika:300,400', rel='stylesheet')
    link(rel='icon', type='image/png', sizes="32x32" href='../favicon-32x32.png')
    link(rel='icon', type='image/png', sizes="16x16" href='../favicon-16x16.png')
    block head
  body(itemscope, itemtype="http://schema.org/WebSite")
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PZ4DZT5', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    .wrap
      .header
        .container
          .sixteen.columns
            .header-inner
              .seven.columns.offset-by-one
                a(href='#{i18n.website}', 
                title='#{i18n.name}, Portfolio Homepage')
                  img(src='../images/thomas-petitjean.png', 
                  alt='#{i18n.name}, #{i18n.profession}', 
                  title='#{i18n.name}, #{i18n.profession}')
                  block page-profession
      block category
      .footer
        .container
          .sixteen.columns
            .footer-container
              ul.footer-links
                li
                  a(href='#{i18n.twitter}', 
                  target='_blank', 
                  title='_tpetitjean on Twitter') Twitter
                li
                  a(href='#{i18n.linkedin}', 
                  target='_blank', 
                  title='Thomas Petitjean on Linkedin') Linkedin
                li
                  a(href='#{i18n.instagram}', 
                  target='_blank', 
                  title='thomas_petitjean on Instagram') Instagram
              .footer-signature
                p #{i18n.name} - 2017
