block exports
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PZ4DZT5');
    // End Google Tag Manager
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel="stylesheet", href="./styles/index.css")
    link(href='https://fonts.googleapis.com/css?family=Signika:300,400', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='./favicon.ico')
    meta(name="google-site-verification" content="byS_xtakitCOcvSfFY4YYWj4-zxKYJvjwAK9H75wHlY")
    block head
  body(itemscope, itemtype="http://schema.org/WebSite")
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PZ4DZT5', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    .wrap
      .intro
        .container
          .sixteen.columns
            .fourteen.columns.offset-by-one
              .intro-container
                h1.intro-title Hi, I'm Thomas
                p.intro-resume
                  a(href="#{i18n.website}/resume/thomas-petitjean.pdf" title="Thomas Petitjean resume") - My resume
                p.intro-nutshell I graduated from The University of Nottingham in 2014 with a BSc in Management. I'm now a masters student at the 
                  a(href="https://thecdm.ca/",
                  target="_blank", 
                  title="The Centre for Digital Media" rel="nofollow noopener") Centre for Digital Media.
                  |  I'm a 
                  a(href="#{i18n.website}/category/project-management.html", 
                  title="Project Management Category page") project manager
                  |  by day, and I moonlight as a 
                  a(href="#{i18n.website}/category/front-end.html", 
                  title="Front-End Development Category Page") front-end developer
                  |  & 
                  a(href="#{i18n.website}/category/search-engine-marketing.html", 
                  title="Search Engine Marketing Category Page") search engine optimizer.                  
      block all-projects
      footer.footer-hp
        .container
          .sixteen.columns
            .five.columns.offset-by-one
              ul.nav
                li
                  a(href='https://twitter.com/_tpetitjean', 
                  target='_blank', 
                  title='_tpetitjean on Twitter') Twitter
                li
                  a(href='https://www.linkedin.com/in/petitjeanthomas/', 
                  target='_blank', 
                  title='Thomas Petitjean on Linkedin') Linkedin
                li
                  a(href='https://www.instagram.com/thomas_petitjean/', 
                  target='_blank', 
                  title='thomas_petitjean on Instagram') Instagram
            .signature.four.columns
              p #{i18n.name} - 2017
