block exports
doctype html
html(lang='en', dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PZ4DZT5');
    // End Google Tag Manager
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel="stylesheet", href="./styles/index.css")
    link(href='https://fonts.googleapis.com/css?family=Signika:300,400', rel='stylesheet')
    link(rel='icon', type='image/png', sizes="32x32" href='./favicon-32x32.png')
    link(rel='icon', type='image/png', sizes="16x16" href='./favicon-16x16.png')
    meta(name="google-site-verification" content="byS_xtakitCOcvSfFY4YYWj4-zxKYJvjwAK9H75wHlY")
    block head
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Thomas Petitjean",
      "url": "#{i18n.website}",
      "sameAs": [
        "#{i18n.twitter}",
        "#{i18n.linkedin}",
        "#{i18n.instagram}"
        ]
      }

  body(itemscope, itemtype="http://schema.org/WebPage")
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PZ4DZT5', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    .homepage-wrap
      .intro
        .container
          .sixteen.columns
            .fourteen.columns.offset-by-one
              .home-intro-container
                h1.intro-title Thomas Petitjean
                p.intro-nutshell I'm a 
                  a(href="#{i18n.website}/category/search-engine-marketing.html", 
                  title="Search Engine Marketing Category Page") search engine optimizer
                  | , 
                  a(href="#{i18n.website}/category/project-management.html", 
                  title="Project Management Category page") project manager
                  |  & 
                  a(href="#{i18n.website}/category/front-end.html", 
                  title="Front-End Development Category Page") front-end developer.
                p.intro-nutshell I've worked for companies such as 
                  a(href='https://www.ingdirect.fr/', 
                  target="_blank", 
                  title="ING Direct France", 
                  rel="nofollow noopener") ING direct
                  | , 
                  a(href='https://www.clubmed.fr/', 
                  target="_blank", 
                  title="Club Med France", 
                  rel="nofollow noopener") Club Med
                  |  or 
                  a(href='https://www.petit-bateau.fr/', 
                  target="_blank", 
                  title="Petit Bateau France", 
                  rel="nofollow noopener") Petit Bateau
                  |  in France, and 
                  a(href='https://pci-group.com/', 
                  target="_blank", 
                  title="PCI Group", 
                  rel="nofollow noopener") PCI developments
                  |  in Canada. Have a look at my portfolio.
                .intro-links
                  ul
                    li
                      a(href='#{i18n.website}/post/about.html',
                      title='Thomas Petitjean About Page') About
                    li
                      a(href='#{i18n.blog}',
                      target="_blank",
                      title="Thomas Petitjean's blog") Blog
                    li
                      a(href='#{i18n.linkedin}', 
                      target='_blank', 
                      title='Thomas Petitjean on Linkedin') Linkedin
                    li.intro-last-link
                      a(href='#{i18n.twitter}', 
                      target='_blank', 
                      title='_tpetitjean on Twitter') Twitter
      block all-projects
      .footer
        .container
          .sixteen.columns
            .footer-container
              .seven.columns.offset-by-one
                ul.footer-links
                  li
                    a(href='#{i18n.github}', 
                    target='_blank', 
                    title='ThomasPJ on Github') Github
                  li
                    a(href='#{i18n.twitter}', 
                    target='_blank', 
                    title='_tpetitjean on Twitter') Twitter
                  li
                    a(href='#{i18n.linkedin}', 
                    target='_blank', 
                    title='Thomas Petitjean on Linkedin') Linkedin
                  li
                    a(href='#{i18n.instagram}', 
                    target='_blank', 
                    title='thomas_petitjean on Instagram') Instagram
                .footer-signature
                  p Designed and built by 
                    a(href='#{i18n.website}/post/about.html',
                    title='Thomas Petitjean About Page') #{i18n.name}
                    | .
