block exports
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PZ4DZT5');
    // End Google Tag Manager
    link(href='https://fonts.gstatic.com' rel='preconnect' crossorigin)
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel="stylesheet", href="../styles/index.css")
    link(href='https://fonts.googleapis.com/css?family=Signika:300,400', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='../favicon.ico')
    meta(name='robots', content='noodp')
    block head
  body(itemscope, itemtype="http://schema.org/WebSite")
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PZ4DZT5', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    .wrap
      header.animated.fadeInDown
        .container
          .name-hp.six.columns.offset-by-one
            a(href='#{i18n.website}', 
            title='#{i18n.name}, Portfolio Homepage')
              img(src='../images/thomas-petitjean.png', 
              alt='#{i18n.name}, #{i18n.profession}', 
              title='#{i18n.name}, #{i18n.profession}')
              .profile
                span.profile-name
                  | #{i18n.name} 
                  br
                  strong.profile-portfolio Portfolio
      block listing
      footer.footer-hp
        .container
          .sixteen.columns
            .five.columns.offset-by-one
              ul.nav
                li
                  a(href='https://twitter.com/_tpetitjean', 
                  target='_blank', 
                  title='_tpetitjean on Twitter') Twitter
                li
                  a(href='https://www.linkedin.com/in/petitjeanthomas/', 
                  target='_blank', 
                  title='Thomas Petitjean on Linkedin') Linkedin
                li
                  a(href='https://www.instagram.com/thomas_petitjean/', 
                  target='_blank', 
                  title='thomas_petitjean on Instagram') Instagram
            .signature.four.columns
              p #{i18n.name} - 2017
