doctype html
html(amp='', lang='en')
  head
    meta(charset='utf-8')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Signika:300,400', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='../../favicon.ico')
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    style(amp-custom).
      body {
        background: #f5f5f5;
        font-family: 'Signika', sans-serif;
        color: #222;
      }
      ul li, p, em {
        font-size: 14px;
        font-style: normal;
        letter-spacing: -0.01em;
      }
      h1 {
        font-size: 26px;
        word-spacing: 2px;
        font-weight: 400;
        margin: 0;
      }
      a {
        color: #222;
      }
      .wrap-amp {
        margin: 50px 0 30px 0;
      }
      .container-amp {
        margin: 0 55px;
      }
      .header-amp {
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.95);
        border-bottom: 1px solid #E9E9E9;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
      }
      .header-amp-link {
        display: block;  
      }
      .header-amp-img {
        display: block;
        width: 32px;
        float: left;
      }
      .header-amp-heading {
        float: left;
        font-size: 15px;
        font-weight: lighter;
        padding: 0 0 0 10px;
        margin: 0;
        line-height: 32px;
      }
      .post-amp {
        padding: 30px 0;
      }
      .date-amp {
        margin: 5px 0 0;
        font-size: 14px;
        line-height: 20px;
        word-spacing: 2px;
        font-weight: lighter;
      }
      .tags-amp {
        font-weight: lighter;
        font-style: italic;
        color: #868080;
        line-height: 20px;
      }
      .content-amp p {
        line-height: 20px;
        word-spacing: 2px;
        font-weight: lighter;
        margin: 10px 0;
      }
      .highlight {
        font-style: italic;
      }
      em {
        font-weight: bolder;
      }
      .img {
        margin: 20px 0;
        text-align: center;
      }
      .img span {
        font-style: italic;
        font-weight: lighter;
        font-size: 14px;
        display: block;
        margin: 7px 0 0 0;
      }
      .content-underline {
        text-decoration: underline;
      }
    block head
    // AMP Analytics
    script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
  body
    // Google Tag Manager
    amp-analytics(config='https://www.googletagmanager.com/amp.json?id=GTM-5G9RJ6R&gtm.url=SOURCE_URL', data-credentials='include')
    .wrap-amp
      .header-amp
        .container-amp
            a.header-amp-link(href='#{i18n.website}', 
            title='#{i18n.name}, Portfolio Homepage')
              amp-img.header-amp-img(src='../../images/thomas-petitjean.png',
              width='32', 
              height='32', 
              alt='#{i18n.name}, #{i18n.profession}', 
              title='#{i18n.name}, #{i18n.profession}')
              h2.header-amp-heading Thomas Petitjean, Project Manager
      block amppost
